<div class="container pt-5">
  <input class="input mb-5" type="text" placeholder="Search" (keyup)="onKeypressSearch($event.target!)">

    <app-card
      *ngFor="
        let coin of coins
          | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
      "
      [title]="coin.name"
      [imageUrl]="coin.image"
      [currentPrice]="coin.current_price"
      [priceChange]="coin.price_change_24h"
      (click)="onModalBtnClick(coin)"
    ></app-card>
</div>
<pagination-controls
  previousLabel="Prev"
  nextLabel="Next"
  (pageChange)="onTableDataChange($event)"
>
</pagination-controls>
<!-- <button class="button is-primary" (click)="onModalBtnClick()">
  Open JS example modal
</button> -->

<app-modal *ngIf="showModal"
  (onClose)="showModal=false"
  [title]="coinObjModal.name"
  [imageUrl]="coinObjModal.image"
  [currentPrice]="coinObjModal.current_price"
  [priceChange]="coinObjModal.price_change_24h"
  [circulationSupply]="coinObjModal.circulation_supply"
  [lastUpdated]="coinObjModal.last_updated"
  [priceChangePercentage24h]="coinObjModal.price_change_percentage_24h"
  [totalSupply]="coinObjModal.total_supply"
  [totalVolume]="coinObjModal.total_volume"
  [high24h]="coinObjModal.high_24h"
  [low24h]="coinObjModal.low_24h"
 ></app-modal>

